
.footer--container__border{
    border-top: 1px solid #152F3C;
    
    
}
.footer--container__section{
    height: 138px;
}

.footer-container{
    display: flex;
    margin-top: auto;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__col--align--right{
    justify-content: flex-end;
}
.logo, .menu, .menu__item, .contacts{
    display: inline-block;
}

.logo{
    margin-right: 80px;
    display: block;
}

 .menu__item{
    margin-right: 50px;
    
}

.menu__item :last-child{
    margin-right: 0;
}
    .contacts__phone{
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 35px;
    }
    .contacts__info{
        float: right;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 4px;
    }
    .contacts__desc{
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: #9A9A9A;
        margin-bottom: 6px;
    }
   
    .socials{
        margin-right: 74px;
    }

    .social__link{
        opacity: 0.4;
        transition: all 0.4s ease-in-out;
    }

    .social__link:hover{
        opacity: 1;
    }

    .social__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px; 
    
        
    }

    .social__item:last-child{
        margin-right: 0;
    }


   
 
