
.hello__text--section{
	width: 45%;
}

.hello--container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 540px;
	margin-bottom: 234px;
}

.hello__title{
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 98px;
	margin-bottom: 28px;
	
}

.hello__subtitle{

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 33px;
}


.butn{
	margin-bottom: 10px;
    width: 168px;
    height: 55px;
    padding-top: 18px;
    background: #F5170E;
    border-radius: 35px;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    
}
.butn--white{
	
	background: #F5170E;
	color:#FFFFFF;
	border: 1px solid #F5170E;   
}
  
.butn--white:hover{
	background: #FFFFFF;
	color:#F5170E;
	border: 1px solid #F5170E;
}
