
.hello{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1142px;
}

.hello__text--section{
	width: 511px;
	height: 197px;
	margin-bottom: 382px;
}

.hello__title{
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 98px;
	margin-bottom: 26px;
}
.hello__subtitle{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 33px;
}
.button--white{
	background: #F5170E;
	color:#FFFFFF;
	border: 1px solid #F5170E;
	   
}
  
.button--white:hover{
	background: #FFFFFF;
	color:#F5170E;
	border: 1px solid #F5170E;
}