.offers{
    margin-bottom: 125px;
}

.offer{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 50px;
}

.offer--fire::after{
content: url(../../img/flame.png);
    position: absolute;
    width: 14px;
    height: 44px;
    margin-left: 10px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}


.offers__list{
    display: flex;
    justify-content: space-between;
    

}
.offers__img{
    background: #001821;
}

.offers__item{
    min-height: 305px;
    border-radius: 0px 0px 5px 5px;
    background: #FFFFFF;
    width:calc(100%/3 - 19px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
   
}

.offers__item:last-child{
    margin-right: 0;
}

.offers__content{
    padding: 33px 16px 26px 22px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.offers__title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: black;
    margin-bottom: 22px;
}

.offers__features{
    display: flex;
    
}
.offer__feature{
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
}

.offers__feature--icon{
    margin-left: 5px;
    
}

.offer__feature:last-child{
    margin-right: 0;
}


.offers__feature--text{
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #666666;
}

.offers__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-top: 25px;
    margin-bottom: 24px;
}

.btn{
    
    width: 135px;
    height: 55px;
    padding-top: 18px;
    background: #F5170E;
    border-radius: 35px;
    color:#FFFFFF;
    border: 1px solid #F5170E;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-top: auto;

}

.btn--white{
    background: #FFFFFF;
    color:#F5170E;
    border: 1px solid #F5170E;
}

.btn--white:hover{
    background: #F5170E;
    color:#FFFFFF;
    border: 1px solid #F5170E;
}