.page--content{
    padding-top: 98px;
    padding-bottom: 83px;
    background: #ffffff;
    color: #303030;
}

.paginator--theme--red{
    color: #000000;

}


.paginator--theme--red .paginator__item--active .pager__link{
    color: #fff;
    background: #F5170E;
}

.paginator--theme--red .pager__link:hover{
    color: #fff;
    background: #F5170E;
}
.service{
    display: flex;
    margin-bottom: 48px;

}

.services{
    margin-bottom: 69px;
}

.service__img{
    width: 45.4%;
    
}
.service__content{
    flex: 1;
}
.service__title{
    padding-top: 11px;
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 32px;
}
.service__desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 37px;
}








